/* Set full height for the landing page and project section */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 2.3vw;
}

nav h1:hover {
  cursor: pointer;
}

header {
  background-image: url(./images/nav-image.webp);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  top: 0;
  box-shadow: 0 .625vw 1.875vw rgba(76, 55, 208,.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding-top: .5vw;
  padding-bottom: .5vw;
}

footer {
  background-image: url(./images/nav-image.webp);
  background-position: center;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
  border-top: .15vw solid #C2EDF4;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  z-index: 999;
  padding-top: .5vw;
  padding-bottom: .5vw;
  font-size: 1vw;
  letter-spacing: 0.0390625vw;
  line-height: 1.875vw;
  margin: 0;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: #1D263B;
}

nav {
  display: flex;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 1.6vw;
  letter-spacing: .02vw;
  line-height: 4.5vw;
  color: black;
  margin-left: 2vw;
}

.hiddenButton {
  width: 20vw;
  height: 4.5vw;
  z-index: 1000;
  cursor: pointer;
  background-position: center;
}

nav h1 {
  margin: 0;
}

.socialLinks{
  width: 100vw;
  height: 4vw;
  line-height: 4.5vw;
  position: relative;
  background-image: none;
  display: flex;
  justify-content: flex-end;
  margin-top: -4.5vw;
  margin-left: -2vw;
}

.socialLink{
  cursor:pointer;
  padding-left:.5vw;
  position:relative;
  top:50%;
  -webkit-transform:translateY(-50%);
  transform:translateY(-50%);
  width:4vw;
  height: 4vw;
  z-index:5;
  line-height: 4.5vw;
}

.seeProjectsBtn {
  font-family: 'Roboto', sans-serif;
  font-weight: bold; 
  font-size: 1.09375vw;
  letter-spacing: 0.09765625vw;
  line-height: 1.640625vw;
  color: #24AFC5;
  background-color: #C2EDF4;
  border: .2vw solid #24AFC5;
  border-radius: .8vw;
  box-shadow: rgba(241, 106, 141, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  padding: 1vw;
  text-transform: uppercase;
  margin-top: 17vw;
}

.landingPage {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(./images/background-image.webp);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.landingContent {
  width: 35%;
  margin-left: 3vw;
  margin-top: 3.5vw;
}

.landingContent h1 {
  font-size: 2vw;
  margin: 0;
  text-align: left;
  font-family: 'BIZ UDPGothic', sans-serif;
  color: #24AFC5;
  position: relative;
  z-index: 3;
  font-weight: 600;
}

#black {
  color: #1D263B;
}

.landingImage {
  width: 65%;
}

.landingImage img {
  width: 100%;
  height: auto;
}

#projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./images/background-image.webp);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.projectSection {
  width: 100vw;
  margin: 0 auto;
  padding: 0vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project {
  width: 27vw;
  height: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./images/nav-image.webp);
  box-shadow: 0 .625vw 1.875vw rgba(76, 55, 208,.05);
  transition: box-shadow 0.3s ease;
  padding-bottom: 2vw;
  border-radius: 1vw;
  border: .2vw solid #C2EDF4;
  margin-top: 4vw;
  padding-bottom: 4vw;
}

.project:hover {
  box-shadow: 0 .625vw 1.875vw rgba(76, 55, 208,.2);
}

.project img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.project h2 {
  margin: 0;
  font-family: 'BIZ UDPGothic', sans-serif;
  font-size: 1.6vw;
  letter-spacing: .02vw;
  line-height: 2.4vw;
  color: #1D263B;
  padding-top: 2vw;
}

.project h3 {
  font-size: 1.25vw;
  letter-spacing: 0.0390625vw;
  line-height: 1.875vw;
  margin: 0;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  width: 25vw;
  text-align: center;
  padding-top: 1vw;
  padding-bottom: 1vw;
  color: #888;
}

.project button {
  font-family: 'Roboto', sans-serif;
  font-weight: bold; 
  font-size: 1.09375vw;
  letter-spacing: 0.09765625vw;
  line-height: 1.640625vw; 
  color: #24AFC5;
  background-color: #C2EDF4;
  border: .2vw solid #24AFC5;
  border-radius: .8vw;
  cursor: pointer;
  padding: 1vw;
  text-transform: uppercase;
}

.projectDetails {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  padding: 40px;
  text-align: center;
}

.projectDetails h2 {
  margin: 0;
}

.projectDetails p {
  margin: 10px 0;
}

.projectDetails button {
  margin-top: 20px;
}

sup {
  display:inline;
  text-decoration: none;
  color:#4169e1;
  cursor:
  pointer;
  font-weight:700;
}

.caseStudy {
  width: 100vw;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 0;
  overflow-y: none;
  margin-top: 3vw;
  background-position: center;
  background-size: cover;
}

.topBkg {
  width: 100vw;
  height: 60vw;
  background-image: url(./images/top-bkg.webp);
  z-index: 1;
  position: absolute;
  background-size: cover;
  object-fit: fill;
  background-repeat: none;
  object-position: center;
  margin-top: -3vw;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100vw;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.personaWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.persona {
  width: 40vw;
  height: 13.33vw;
  display: flex;
  flex-direction: row;
}

.persona p {
  display: flex;
  width: 22vw;
  height: fit-content;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 1.09375vw;
  letter-spacing: 0.01953125vw;
  line-height: 1.640625vw;
  color: #46464F;
  font-weight: bold;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 3vw;
}

.personaImg { 
  display: flex;
  width: 10vw;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 2vw;
}

.brief {
  width: 80vw;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.briefBkg {
  width: 100vw;
  height: fit-content;
  background-image: url(./images/nav-image.webp);
  z-index: 0;
  /* position: absolute; */
  background-size:cover;
  object-fit: fill;
  background-repeat: none;
  display: flex;
  flex-direction: row;
  margin-top: 2vw;
  padding-bottom: 2vw;
  z-index: 2;
  justify-content: center;
}

.hero {
  width: 80vw;
  height: fit-content;
  position: relative;
  /* background-color: white; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cardL {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  position: relative;
  background-image: url(./images/nav-image.webp);
  object-fit: cover;
  margin-top: 1vw;
  z-index: 6;
  border-radius: 2vw;
  padding: 2vw;
  overflow: hidden;
  border-radius: 2vw 0vw 0vw 2vw;
  border-left: .15vw solid #C2EDF4;
  border-top: .15vw solid #C2EDF4;
  border-bottom: .15vw solid #C2EDF4;
  border-right: none;
}
  .cardR {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; /* Add this to vertically center the content */
    width: 40vw;
    position: relative;
    background-color: white;
    margin-top: 1vw;
    overflow: hidden;
    border-radius: 0vw 2vw 2vw 0vw;
    border-top: .15vw solid #C2EDF4;
    border-right: .15vw solid #C2EDF4;
    border-bottom: .15vw solid #C2EDF4;
  }

.card3 {
  width: 90vw;
  height: fit-content;
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
  margin-top: 1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;

  z-index: 5;
  border: .30vw solid #C2EDF4;
  border-radius: 2vw;
  background-image: url(./images/nav-image.webp);

}

.feature {
  width: 87.261vw;
  height: 48.28vw;
}

.esrFeature {
  width: 85vw;
  height: fit-content;
}


.card3 h2 {
  width: fit-content;
  max-width: none;
  align-self: center;
}

.card3 h3 {
  width: fit-content;
  max-width: none;
  text-align: center;

}

.square {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  width: 17vw;
  height: 17vw;
  background-image: url(./images/nav-image.webp);
  object-fit: cover;
  border: .30vw solid #C2EDF4;
  border-radius: 3vw;
  overflow: hidden;
  padding: 1vw;
}

.row h1 {
  display: flex;
  font-family: 'BIZ UDPGothic', sans-serif;
  color: #4169E1;
  font-size: 3.75vw;
  letter-spacing: 0.01953125vw;
  line-height: 5.625vw;
  margin: 0 auto;
   -webkit-text-stroke: .25vw #4169E1; /* Set the border size and color for Webkit browsers */
  position: relative;
  z-index: 4;
}

.row h2 {
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  color: #24AFC5;
  font-weight: bolder;
  font-size: 1.875vw;
  line-height: 4vw;
  letter-spacing: -0.055vw;
  margin: 0 auto;
  position: relative;
  z-index: 4;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin: 0 auto;
}

.header h2 {
  max-width: 50vw;
  font-family: 'BIZ UDGothic', sans-serif;
  font-weight: 900;
  font-size: 2.65625vw;
  letter-spacing: 0.01953125vw;
  line-height: 3.9843749999999996vw;
  color: #4169E1;
  margin: 0;
}

.header h3 {
  max-width: 33vw;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.5625vw;
  letter-spacing: 0.01171875vw;
  line-height: 2.34375vw;
  color: #24AFC5;
  margin: 0;
}

.header p {
  max-width: 33vw;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25vw;
  letter-spacing: 0.0390625vw;
  line-height: 1.875vw;
  color: #1D1B26;
  overflow-wrap: break-word;
  text-align: left;
  margin-top: 0;
  font-weight: normal;
}

.bottom {
  width: 100vw;
  height: fit-content;
  padding: 1vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-top: .30vw solid #C2EDF4;
  z-index: 1;
}

.bottom h2 {
  display: flex;
  flex-direction: row;
  font-family: 'BIZ UDGothic', sans-serif;
  font-weight: 900;
  font-size: 2.65625vw;
  letter-spacing: 0.01953125vw;
  line-height: 3.9843749999999996vw;
  color: #4169E1;
  margin: 0 auto;
}

.bottom p {
  max-width: 50vw;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25vw;
  letter-spacing: 0.0390625vw;
  line-height: 1.875vw;
  color: #1D1B26;
  overflow-wrap: break-word; /* Add this to prevent long words from overflowing */
  margin-top: 0 auto;
  font-weight: normal;
}

.buttonWrapper {
  width: 100vw;
  display: flex;
  position: fixed;
  height: fit-content;
  justify-content: space-between;
  z-index: 8;
  top: 50%;
}

#left {
  margin-left: .5vw;
} 

#right {
  margin-right: .5vw;
} 

.caseStudy button {
  font-family: 'Roboto', sans-serif;
  font-weight: bold; 
  font-size: 1.09375vw;
  letter-spacing: 0.09765625vw;
  color: #24AFC5;
  background-color: #C2EDF4;
  border: .2vw solid #24AFC5;
  border-radius: .8vw;
  cursor: pointer;
  padding: 1vw;
  text-transform: uppercase;
  width: fit-content;
}

.square h2 {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-family: 'BIZ UDGothic', sans-serif;
  font-weight: bolder;
  font-size: 2.65625vw;
  letter-spacing: 0.01953125vw;
  line-height: 3.9843749999999996vw;
  color: #24AFC5;
  text-transform: uppercase;
  margin-top: 1vw;
  margin-bottom: 0;
}

.square p {
  display: inline;
  padding-top: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25vw;
  letter-spacing: 0.0390625vw;
  line-height: 1.875vw;
  color: #1D1B26;
  font-weight: bold;
  position: relative;
  z-index: 1;
  margin-top: 0;
  font-weight: normal;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: fit-content;
  z-index: 1;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.imgWrapperWide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38vw;
  height: fit-content;
  z-index: 1;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.mockup4 {
  display: flex;
  height: fit-content;
  flex-direction: column;
  width: 16vw;
  position: relative;
  z-index: 1;
  margin-right: 1vw;
  margin-top: 3vw;
}

.mockup1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 16vw;
  position: relative;
  z-index: 1;
  margin-top: 3vw;
}

.mockup2 {
  height: fit-content;
  display: flex;
  flex-direction: column;
  width: 15vw;
  position: relative;
  z-index: 1;
  margin-left: -1vw;
  margin-top: 2vw;
}

.mockup3 {
  display: flex;
  height: fit-content;
  flex-direction: column;
  width: 15.8vw;
  position: relative;
  z-index: 1;
  margin-left: 1.2vw;
  margin-top: 2.7vw;
}

.cbImage {
  width: 70vw;
  height: fit-content;
  z-index: 2;
}

.esrImage {
  width: 70vw;
  height: fit-content;
  z-index: 2;
  padding-top: 3vw;
  padding-bottom: 3vw
}

.squeeze {
  width: 83.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.signature {
  width: 10vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a {
  margin-left: .3vw;

}

#front {
  position: relative;
  z-index: 9;
}

#bkg {
background-image: url(./images/background-image.webp);
margin: 0 auto;
}

#full-width {
  width: 100vw;
  /* max-width: none; */
}

#extra-margin {
  margin-top: 4vw;
}

#hero-img-mob {
  display: none;
}

#mob {
  display: none;
}

#bold {
  font-weight: 900;
}

#typing-animation {
  font-family: 'Cedarville Cursive', cursive;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid transparent; /* Set the border color to transparent */
  animation: typing 1s steps(40, end); /* Set the animation duration to 1 second */
  cursor: pointer;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

video {
  width: 80vw;
  height: fit-content;
}


/* CSS rules for small screens */

@media (max-width: 576px) {

  header {
    padding-top: 1.64vw;
    padding-bottom: 1.64vw;
  }

  footer {
    padding-top: 1.64vw;
    padding-bottom: 1.64vw;
    font-size: 3.28vw;
    letter-spacing: 0.128125vw;
    line-height: 6.15vw;
    border-top: 0.492vw solid #C2EDF4;
  }
  
  .socialLinks{
    height: 13.12vw;
    line-height: 17.196384vw;
    margin-top: -17.196384vw;
  
  }
  
  .socialLink{
    padding-left: .5vw;
    width: 13.12vw;
    height: 13.12vw;
    z-index:5;
    line-height: 17.196384vw;
  }
  
  nav {
    font-size: 5.248vw;
    letter-spacing: 0.0656vw;
    line-height: 17.196384vw;
    margin-left: 4vw;
  }
  .hiddenButton {
    width: 50vw;
    height: 20vw;
  }
  
  .landingContent {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-left: 0vw;
    margin-top: 8.8vw;
  }
  .landingImage {
    width: 100vw;
    position: absolute;
  }
  #hero-img-mob {
    display: flex;
  }
  #hero-img {
    display: none;
  }
  .landingContent h1 {
    display: none;
  }
  #no-show {
    display: none;
  }
  .seeProjectsBtn {
    font-size: 3.5875vw;
    letter-spacing: 0.3203125vw;
    line-height: 5.38125vw;
    border: 0.656vw solid #24AFC5;
    border-radius: 2.624vw;
    box-shadow: rgba(241, 106, 141, 0.2) 0px 22px 314.88px 295.2px 0px;
    padding: 3.28vw;
    margin-top: 8vw;
    width: fit-content;
    z-index: 99;
    align-self: center;
  }
  #projects {
    padding-top: 100vw;
  }
  #extra-margin {
    margin-top: 125vw;
  }
  .projectSection {
    flex-direction: column;
    align-items: center;
  }
  .project {
    width: 88.56vw; 
    height: auto; 
    box-shadow: 0.625vw 1.875vw rgba(76, 55, 208,.05);
    padding-bottom: 6vw;
    border-radius: 3vw;
    border: .6vw solid #C2EDF4;
    padding-bottom: 6.56vw;
    border-radius: 3.28vw;
    border: 0.656vw solid #C2EDF4;
    padding-bottom: none;
  }
  .project h2 {
    font-size: 5.248vw;
    letter-spacing: 0.0656vw;
    line-height: 7.872vw;
    padding-top: 7.6vw;
  }
  .project h3 {
    width: 82vw;
    font-size: 4.1vw;
    letter-spacing: 0.128125vw;
    line-height: 6.15vw;
    padding-top: 3.28vw;
    padding-bottom: 3.28vw;
  }
  .project button {
    font-size: 3.5875vw;
    letter-spacing: 0.3203125vw;
    line-height: 5.38125vw;
    border: 0.656vw solid #24AFC5;
    border-radius: 2.624vw;
    box-shadow: rgba(241, 106, 141, 0.2) 0px 22px 314.88px 295.2px 0px;
    padding: 3.28vw;
    margin-top: 4vw;
    width: fit-content;
    z-index: 99;
    align-self: center;
  } 
  .caseStudy {
    width: 100vw;
    margin-top: 16vw;
    justify-content: center;
  }
  .buttonWrapper  img {
    width: 12vw;
    background-color: none;
    border: none;
    border-radius: 0vw;
    padding: none;
  }

  #web {
    display: none;
  }

  #mob {
    display: flex;
  }
/* 
.buttonWrapper {
  width: 100vw;
  display: flex;
  position: fixed;
  height: fit-content;
  justify-content: space-between;
  z-index: 8;
  top: 50%;
} */


  .topBkg {
    background-image: url(./images/top-bkg-mob.webp);
  }
  .mockup4 {
    width: 22vw;
    margin-left: 2vw;
    margin-top: 4.5vw;
  }
  .mockup1 {
    width: 22vw;
    margin-top: 3vw;
    margin-right: 2vw;
    margin-top: 4.5vw;
  }
  .mockup2 {
    width: 20.5vw;
    margin-left: -2.5vw;
    margin-top: 3vw;
  }
  .mockup3 {
    width: 21.7vw;
    margin-left: 1vw;
    margin-top: 4.05vw;
  }
  .square {
    width: 90vw;
    height: fit-content;
    margin-bottom: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: .6vw solid #C2EDF4;
    border-radius: 4.5vw;
    padding: 1.5vw;
  }
  .square p {
    font-size: 4.1vw;
    letter-spacing: 0.128125vw;
    line-height: 6.15vw;
    width: 80vw;
  }
  .squeeze {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3.5vw;
    margin-bottom: 3.5vw;
  }
  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .row h1 {
    font-size: 8.7125vw;
    letter-spacing: 0.0640625vw;
    line-height: 13.068749999999999vw;
    -webkit-text-stroke: .5vw #4169E1; /* Set the border size and color for Webkit browsers */
  }
  .row h2 {
    font-size: 5.248vw;
    letter-spacing: 0.0656vw;
    line-height: 7.872vw;
  }
  .center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .cardL {
    flex-direction: row;
    width: 90vw;
    margin-top: 1.5vw;
    padding: 2.5vw;
    border-radius: 4.5vw 4.5vw 0vw 0vw;
    border-left: .6vw solid #C2EDF4;
    border-top: .6vw solid #C2EDF4;
    border-right: .6vw solid #C2EDF4;
    border-bottom: none;
  }
  .cardR {
    width: 90vw;
    margin-top: -1vw;
    padding: 2.5vw;
    border-radius: 0vw 0vw 4.5vw 4.5vw;
    border-left: .6vw solid #C2EDF4;
    border-right: .6vw solid #C2EDF4;
    border-bottom: .6vw solid #C2EDF4;
    border-top: none;
  }
  .card3 {
    border: .6vw solid #C2EDF4;
    border-radius: 4.5vw;
    padding: 1.5vw;
  }
  .imgWrapper {
    width: 85vw;
    padding-top: 3.2vw;
    padding-bottom: 3.2vw;
  }

  .imgWrapperWide {
    width: 90vw;
    height: fit-content;
    z-index: 1;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
  
  .header h2 {
    max-width: none;
    font-size: 5.248vw;
    letter-spacing: 0.0656vw;
    line-height: 7.872vw;
  }
  .header h3 {
    max-width: 85vw;
    font-size: 4.21875vw;
    letter-spacing: 0.031640625vw;
    line-height: 6.328125vw;
  }
  .header p {
    max-width: 85vw;
    font-size: 4.1vw;
    letter-spacing: 0.128125vw;
    line-height: 6.15vw;
  }
  .persona {
    width: 90vw;
    height: 50vw;
    display: flex;
    flex-direction: row;
  }
  .persona p {
    width: 60vw;
    font-size: 3.5875vw;
    letter-spacing: 0.3203125vw;
    line-height: 5.38125vw;
    /* margin-left: -3vw; */
  }
  .personaImg { 
    width: 35vw;
    margin-right: 2vw;
  }


  /* BRIEFBKG INCONSISTENT ACROSS PROJECTS */
  .briefBkg {
    /* padding-top: 90vw;   */
    /* padding-bottom: 6.56vw; */
  }
  .bottom {
    border-top: .6vw solid #C2EDF4;
  }
  .bottom p {
    max-width: 85vw;
    font-size: 4.1vw;
    letter-spacing: 0.128125vw;
    line-height: 6.15vw;
  }
  .signature {
    width: 32.8vw;
  }
  .esrImage {
    width: 90vw;
    padding-top: 4.5vw;
    padding-bottom: 4.5vw
  }
  .cbImage {
    width: 90vw;
    padding-top: 4.5vw;
    padding-bottom: 4.5vw
  }

}
/* CSS rules for medium screens */
@media (min-width: 576px) and (max-width: 768px) {

}


    /* x 3.28 */


        