body, html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  padding-top: 2.3rem;
  background-image: url(./images/background-image.webp);
  background-position: center;
  background-size: cover;
}

/* Top Navbar */
header {
  width: 100%;
  height: 8vh;
  top: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin: 0 auto;
  position: fixed;
  background-image: url(./images/nav-image.webp);
  background-position: center;
  background-size: cover;
  box-shadow: 0 .625rem 1.875rem rgba(76, 55, 208,.1);
  z-index: 999;
}
nav {
  display: flex;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 1.6rem;
  letter-spacing: .02rem;
  line-height: 8vh;
  color: #2F2E41;
  margin-left: 2vw;
}
nav h1 {
  margin: 0;
}
nav h1:hover {
  cursor: pointer;
}
.hiddenButton {
  width: 50vw;
  height: 8vh;
  z-index: 1000;
  cursor: pointer;
  background-position: center;
}
.socialLinks{
  width: 100vw;
  height: 8vh;
  position: relative;
  background-image: none;
  display: flex;
  justify-content: flex-end;
  margin-top: -8vh;
  margin-left: -2vw;
}
.socialLink{
  cursor:pointer;
  padding-left:.5rem;
  position:relative;
  top: 50%;
  transform: translatey(-50%);
  z-index:5;
}

/* Hero */
.landingPage {
  height: 85vh;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landingContent {
  width: 35vw;
  margin-left: 3vw;
  margin-right: 3vw; 
  padding-right: 1vw;
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
  justify-content: center; 
}
.landingContent h1 {
  font-size: 2rem;
  margin: 0;
  text-align: left;
  font-family: 'DM Sans', sans-serif;
  color: #2F2E41;
  position: relative;
  z-index: 3;
  font-weight: 550;
}
#blue {
  color: #4169E1;
}
#swap {
  /* color: #1D263B; */
  color: #2F2E41;
  cursor: auto;
}
#coming-soon {
  cursor: auto;
  transform: none;
  background-color: transparent;
}
.seeProjectsBtn {
  font-size: 1rem;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  line-height: 1rem;
  padding: 1rem;
  border: .1rem solid #24AFC5;
  border-radius: .6rem;
  margin-top: 5vh;
  font-family: 'Roboto', sans-serif;
  font-weight: bold; 
  cursor: pointer;
  color: #24AFC5;
  background-color: #C2EDF4;  
  z-index: 10;
  transition: transform 0.3s ease; /* Smooth transition for the scale effect */
}
.seeProjectsBtn:hover {
transform: scale(1.1);
}
.heroImage {
  width: 65vw;
  height: fit-content;
}
.heroImage img {
  width: 100%;
  height: auto;
}

/* Projects */ 
#projects {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.projectSection {
  width: 100vw;
  margin: 0 auto;
  padding: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}
.project {
  width: 23vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./images/nav-image.webp);
  box-shadow: 0 .625rem 1.875rem rgba(76, 55, 208,.05);
  transition: box-shadow 0.3s ease;
  padding-bottom: 2rem;
  border-radius: 1rem;
  border: .15rem solid #C2EDF4;
  margin-top: 4vh;
  padding-bottom: 4rem;
  position: relative;
  
}
.title {
  height: fit-content;
  padding: .6rem;

}
.project h2 {
  width: fit-content;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 550;
  letter-spacing: -0.05rem;
  line-height: 4vh;
  /* color: #1D263B; */
  color: #2F2E41;
  position: relative;
  top: 50%;
  transform: translatey(-50%);
  text-align: center;
  margin-top: 1rem;
  /* padding-bottom: 1rem; */
}
.subTitle {
  height: 4vh;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: .5rem;
 }
.project h3 {
  width: fit-content;
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin: 0;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #667085;
  position: relative;
  top: 50%;
  transform: translatey(-50%);
}
.project:hover {
  box-shadow: 0 .625rem 1.875rem rgba(76, 55, 208,.2);
}
.project img {
  width: 20rem;
  height: fit-content;
}
#stretch {
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
}
.project button {
  font-family: 'Roboto', sans-serif;
  font-weight: bold; 
  font-size: 1rem;
  letter-spacing: 0.04rem;
  line-height: 1rem;
  color: #24AFC5;
  background-color: #C2EDF4;
  border: .1rem solid #24AFC5;
  border-radius: .6rem;
  cursor: pointer;
  padding: 1rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  transition: transform 0.3s ease; /* Smooth transition for the scale effect */
}

.project button:hover {
  transform: scale(1.1);
  }

/* Footer */
footer {
  width: 100%;
  height: 3vh;
  margin: 0 auto;
  background-image: url(./images/nav-image.webp);
  background-position: center;
  background-size: cover;
  text-align: center;
  border-top: .15rem solid #C2EDF4;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 1rem;
  letter-spacing: 0.0390625vw;
  line-height: 3vh;
  margin: 0;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  /* color: #1D263B; */
  color: #2F2E41;
}

/* Project Details */
.caseStudy {
  width: 100vw;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 0;
  overflow-y: none;
  margin-top: 4vh;
  background-position: center;
  background-size: cover;
}
.caseStudy button {
  font-family: 'Roboto', sans-serif;
  font-weight: bold; 
  font-size: 1rem;
  letter-spacing: 0.04rem;
  line-height: 1rem;
  color: #24AFC5;
  background-color: #C2EDF4;
  border: .1rem solid #24AFC5;
  border-radius: .6rem;
  padding: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  width: fit-content;
}
.buttonWrapper {
  width: 100vw;
  display: flex;
  position: fixed;
  height: fit-content;
  justify-content: space-between;
  z-index: 8;
  top: 50%;
}
#left {
  margin-left: 1vw;
} 
#right {
  margin-right: 1vw;
}
#leftHome {
  display: none;
}
.topBkg {
  width: 100vw;
  height: 60vh;
  background-image: url(./images/top-bkg.webp);
  z-index: 1;
  position: absolute;
  background-size: cover;
  object-fit: fill;
  background-repeat: none;
  object-position: center;
  margin-top: -5vh;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 100vw;
}
.row h1 {
  display: flex;
  font-family: 'DM Sans', sans-serif;
  color: #4169E1;
  font-size: 3.75rem;
  letter-spacing: 0.09rem;
  line-height: 4rem;
  margin: 0 auto;
   -webkit-text-stroke: .25rem #4169E1;
  position: relative;
  z-index: 4;
}
.row h2 {
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  color: #24AFC5;
  font-weight: bolder;
  font-size: 1.875rem;
  line-height: 3rem;
  letter-spacing: -0.055rem;
  padding-bottom: 1vh;
  margin: 0 auto;
  position: relative;
  z-index: 4;
}
.hero {
  width: 80vw;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.col {
  display: flex;
  flex-direction: column;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin: 0 auto;
}
.header h2 {
  max-width: 33vw;
  font-family: 'DM Sans', sans-serif;
  font-weight: 550;
  font-size: 1.6rem;
  letter-spacing: -0.05rem;
  line-height: 1.7rem;
  color: #4169E1;
  margin: 0;
}
.header h3 {
  max-width: 33vw;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.01rem;
  line-height: 1.5rem;
  color: #24AFC5;
  margin: 0;
  padding-bottom: 1rem;
}
.header p {
  max-width: 33vw;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #667085;
  overflow-wrap: break-word;
  text-align: left;
  font-weight: normal;
  padding-bottom: 1rem;
  margin: 0;
  font-weight: 400;
  letter-spacing: 0rem;
}
.mockup4 {
  display: flex;
  height: fit-content;
  flex-direction: column;
  width: 16vw;
  position: relative;
  z-index: 1;
  margin-right: 1vw;
  margin-top: 3vh;
}
.mockup1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 16vw;
  position: relative;
  z-index: 1;
  margin-top: 3vh;
}
.mockup2 {
  height: fit-content;
  display: flex;
  flex-direction: column;
  width: 15vw;
  position: relative;
  z-index: 1;
  margin-left: -1vw;
  margin-top: 2vh;
}
.mockup3 {
  display: flex;
  height: fit-content;
  flex-direction: column;
  width: 15.8vw;
  position: relative;
  z-index: 1;
  margin-left: 1vw;
  margin-top: 2.7vh;
}
.squeeze {
  width: 85vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.square {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  width: 17vw;
  height: 27vh;
  background-image: url(./images/nav-image.webp);
  object-fit: cover;
  border: .15rem solid #C2EDF4;
  border-radius: 1rem;
  padding: 1rem;
}
.square h2 {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-weight: 550;
  font-size: 1.6rem;
  letter-spacing: -0.05rem;
  line-height: 1.7rem;
  color: #2F2E41;
  text-transform: uppercase;
}
.square p {
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #667085;
  font-weight: 400;
  position: relative;
  z-index: 1;
  margin: 0;
}
.cardL {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 41.5vw;
  position: relative;
  background-image: url(./images/nav-image.webp);
  object-fit: cover;
  margin-top: 1vh;
  z-index: 6;
  border-radius: 2rem;
  padding-top: 1rem;
  overflow: hidden;
  border-radius: 1rem 0 0 1rem;
  border-left: .15rem solid #C2EDF4;
  border-top: .15rem solid #C2EDF4;
  border-bottom: .15rem solid #C2EDF4;
  border-right: none;
}
.cardR {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 41.5vw;
  /* height: auto; */
  position: relative;
  background-color: white;
  margin-top: 1vh;
  overflow: hidden;
  border-radius: 0 1rem 1rem 0;
  border-top: .15rem solid #C2EDF4;
  border-right: .15rem solid #C2EDF4;
  border-bottom: .15rem solid #C2EDF4;
}
.card3 {
  width: 90vw;
  height: fit-content;
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 5;
  border: .15rem solid #C2EDF4;
  border-radius: 2rem;
  background-image: url(./images/nav-image.webp);
}
.card3 h2 {
  width: fit-content;
  max-width: none;
  align-self: center;
}
.card3 h3 {
  width: fit-content;
  max-width: none;
  text-align: center;
}
.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  /* height: fit-content; */
  z-index: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.imgWrapperWide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38vw;
  /* height: fit-content; */
  z-index: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.feature {
  width: 87.261vw;
  height: 48.28vw;
}
sup {
  display:inline;
  text-decoration: none;
  color:#4169e1;
  cursor:
  pointer;
  font-weight:700;
}
.personaWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.persona {
  width: 40vw;
  height: 13.33rem;
  display: flex;
  flex-direction: row;
}
.persona p {
  display: flex;
  width: 22vw;
  height: fit-content;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 1.09375rem;
  letter-spacing: 0rem;
  line-height: 1.640625rem;
  color: #46464F;
  font-weight: 500;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 3vw;
  
}
.personaImg { 
  display: flex;
  width: 10vw;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 2vw;
}
.brief {
  width: 80vw;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.briefBkg {
  width: 100vw;
  height: fit-content;
  background-image: url(./images/nav-image.webp);
  z-index: 0;
  background-size:cover;
  object-fit: fill;
  background-repeat: none;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
  z-index: 2;
  justify-content: center;
}
.bottom {
  width: 100vw;
  height: fit-content;
  padding: 1vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-top: .15rem solid #C2EDF4;
  z-index: 1;
}
.bottom h2 {
  display: flex;
  flex-direction: row;
  font-family: 'DM Sans', sans-serif;
  font-weight: 550;
  font-size: 1.6rem;
  letter-spacing: -0.05rem;
  line-height: 1.7rem;
  color: #4169E1;
  margin: 0 auto;
}
.bottom p {
  max-width: 50vw;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0rem;
  line-height: 1.5rem;
  color: #667085;
  overflow-wrap: break-word;
  margin-top: 0 auto;
  font-weight: 400;
}
.esrFeature {
  width: 85vw;
  height: fit-content;
}
.cbImage {
  width: 70vw;
  height: fit-content;
  z-index: 2;
}
.esrImage {
  width: 70vw;
  height: fit-content;
  z-index: 2;
  padding-top: 3rem;
  padding-bottom: 3rem
}
.signature {
  width: 10vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#front {
  position: relative;
  z-index: 9;
}
#full-width {
  width: 100vw;
  /* max-width: none; */
}
#bold {
  font-weight: 900;
}

#typing-animation {
  font-family: 'Cedarville Cursive', cursive;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid transparent; 
  animation: typing 1s steps(40, end); 
  cursor: pointer;
}
#mob {
  display: none;
}
#leftHome {
  display: none;
}
#rightHome {
  display: none;
}
#web {
  display: flex;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

video {
  width: 80vw;
  height: fit-content;
}

/* Media Queries */

  @media (max-width: 1127px) {
    .heroImage {
      width: 100vw;
      height: auto;
      position: absolute;
      bottom: 2vh;
      border-top: 100vh solid #562CD8;

    }
    .heroImage img {
      width: 100vw;
      height: auto;
    }
    .projectSection {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin-top: 8vh;
    }
    .project {
      width: 88.56vw;
    }
    #esr {
      margin-bottom: 6vh;
    }
    #projects {
      height: fit-content;
    }
  /* Hero */
    .landingContent {
      margin-top: -55vh;
      justify-content: center;
      align-items: center;
      width: 100vw;
    }
    .landingContent h1 {
      width: 95vw;
      justify-content: center;
      text-align: center;
      color: #C2EDF4;
    }
    #no-show {
      display: none;
    }
    #black {
      color: white;
    }
    .seeProjectsBtn {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .project img {
      width: 80vw;
      height: fit-content;
      padding-bottom: 3vh;
    }
    .buttonWrapper img {
      width: 8vw;
      background-color: none;
      border: none;
      border-radius: 0vw;
      padding: none;
    }
    .squeeze {
      width: 90vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .square {
      width: 90vw;
      height: fit-content;
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      align-self: center;
    }
    .square p {
      max-width: 50vw;
    }
    .mockup4 {
      width: 22vw;
      margin-left: 2vw;
      margin-top: 4.5vw;
    }
    .mockup1 {
      width: 22vw;
      margin-top: 3vw;
      margin-right: 2vw;
      margin-top: 4.5vw;
    }
    .mockup2 {
      width: 20.5vw;
      margin-left: -2.5vw;
      margin-top: 3vw;
    }
    .mockup3 {
      width: 21.7vw;
      margin-left: 1vw;
      margin-top: 4.05vw;
    }
    .signature {
      width: 14vw;
    }
    .header h2 {
      max-width: 55vw;
    }
    #mob {
      display: flex;
    }
    #web {
      display: none;
    }
  }

    @media (max-width: 652px) {
      nav {
        font-size: 1.3rem;
        padding-left:.2rem;
      }
      .hiddenButton {
        width: 55vw;
      }
      .socialLinks{
        width: 100vw;
        height: 6vh;
        margin-top: -7vh;
      }
      .socialLink{
        padding-left:.2rem;
      }
      .squeeze {
        margin-top: .7rem;
        margin-bottom: 0rem;
      }
      .square {
        margin-bottom: .7rem;
        border-radius: .7rem;
      }
      .square p {
        max-width: 85vw;
      }
      .landingContent {
        margin-top: -45vh;
      }
      #blue {
        color: #C2EDF4;
      }
      .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .cardL {
        flex-direction: row;
        width: 90vw;
        padding: .5rem;
        padding-top: .7rem;
        padding-bottom: .7rem;
        border-radius: 2rem 2rem 0 0;
        border-left: .15rem solid #C2EDF4;
        border-top: .15rem solid #C2EDF4;
        border-right: .15rem solid #C2EDF4;
        border-bottom: none;
      }
      .cardR {
        width: 90vw;
        margin-top: -1vw;
        padding: .5rem;
        border-radius: 0 0 2rem 2rem;
        border-left: .15rem solid #C2EDF4;
        border-right: .15rem solid #C2EDF4;
        border-bottom: .15rem solid #C2EDF4;
        border-top: none;
      }
      .cardR img {
        width: 100%;
        height: auto;
      }
      .card3 {
        width: 90vw;
        padding: 1rem;
      }
      .header h2 {
        max-width: 85vw;
      }
      .header h3 {
        max-width: 85vw;
      }
      .header p {
        max-width: 85vw;
      }
      .persona {
        width: 90vw;
        height: 50vw;
        display: flex;
        flex-direction: row;
      }
      .persona p {
        width: 60vw;
        font-size: .8rem;
      }
      .personaImg { 
        width: 35vw;
        margin-right: 2rem;
      }
      .imgWrapper {
        width: 85vw;
        /* height: fit-content; */
        padding-top: 3.2vw;
        padding-bottom: 3.2vw;
      }
      .topBkg {
        background-image: url(./images/top-bkg-mob.webp);
      }
      .signature {
        width: 34vw;
      }
      .esrImage {
        width: 90vw;
      }
      .cbImage {
        width: 90vw;
      }
      .buttonWrapper img {
        width: 12vw;
      }
      video {
        width: 90vw;
      }
      #text-shrink {
        font-size: 3rem;
        letter-spacing: 0.01953125rem;
        line-height: 5.625rem;
      }
      .imgWrapperWide {
        width: 90vw;
        /* height: fit-content; */
      }
      .bottom p {
        max-width: 85vw;
      }
      #mob {
        display: flex;
      }
      #leftHome {
        display: flex;
        margin-left: .5vw;
      }
      #rightHome {
        display: flex;
        margin-right: .5vw;
      }
      #web {
        display: none;
      }
      .row h1 {
        font-size: 2.65625rem;
        letter-spacing: 0.01953125rem;
        line-height: 3.9843749999999996rem;
      }
      
    }
    /* @media screen and (orientation: landscape) {
      body {
        transform: rotate(90deg);
        transform-origin: left top;
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        position: fixed;
        top: 0;
        left: 0;
      }
    } */